
<%= form_with(model: discover_flight, class: "contents") do |form| %>

  
  <div x-data="{ currentPage: 1 }" class="lg:w-[25rem] px-5">
    
    <div x-show="currentPage === 1" class="flex flex-col justify-between">
      <div class="max-w-sm">
        <% if discover_flight.errors.any? %>
          
          <!--Commented out has it disappearing after 10 secs-->
          <!--<div x-data="{ showErrors: <%= discover_flight.errors.any? %> }" x-show="showErrors" x-init="setTimeout(() => showErrors = false, 10000)"  class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">-->
          <div x-data="{ showErrors: <%= discover_flight.errors.any? %> }"  class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(discover_flight.errors.count, "mistake") %> need to be fixed</h2>
            <ul>
              <% discover_flight.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="">
        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">First Name</span>
          <%= form.text_field :first_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-50 focus:ring-custom-50" %>
        </div>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Last Name</span>
          <%= form.text_field :last_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-50 focus:ring-custom-50" %>
        </div>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Email</span>
          <%= form.text_field :email, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-50 focus:ring-custom-50" %>
        </div>

        <%= invisible_captcha :confirm_email, :discover_flight %>

        <div class="my-5 flex flex-col">
          <span class="text-slate-700 font-semibold text-base">Phone</span>
          <%= form.text_field :phone, placeholder: "###-###-####", class: " placeholder:text-slate-300 block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-50 focus:ring-custom-50" %>
        </div>

        <div class="my-5" x-data="{ selectedAircraft: '' }">
          <span class="mb-4 font-sans text-lg font-semibold text-slate-700">Select Aviation Goal</span>
          <div class="flex flex-row justify-start gap-3 pt-5">
            <label class="inline-flex items-center pb-5">
              <%= form.radio_button :aircraft, 'Recreation', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-full bg-custom-50 hover:bg-slate-400" :class="{ 'bg-custom-50': selectedAircraft == 'Recreation' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-700': selectedAircraft == 'Recreation' }">Recreation</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'Recreation'"></span>
              </span>
            </label>

            <label class="inline-flex items-center pb-5" >
              <%= form.radio_button :aircraft, 'career', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-full bg-custom-50 hover:bg-slate-400" :class="{ 'bg-custom-50': selectedAircraft == 'career' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-700': selectedAircraft == 'career' }">Career</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'career'"></span>
              </span>
            </label>

            <label class="inline-flex items-center pb-5" >
              <%= form.radio_button :aircraft, 'both', { class: "hidden", "data-x-model" => "selectedAircraft" } %>
              <span class="relative">
                <span class="inline-flex items-center justify-center text-slate-700 border border-slate-300 rounded-full bg-custom-50 hover:bg-slate-400" :class="{ 'bg-custom-50': selectedAircraft == 'both' }">
                  <span class="px-4 py-2 font-sans text-base text-slate-800" :class="{ 'text-slate-700': selectedAircraft == 'both' }">Both</span>
                </span>
                <span class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer" @click="selectedAircraft = 'both'"></span>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="inline">
        <input type="button" x-on:click="currentPage = 2" class="btn-primary" value="NEXT">
      </div>
    </div>

    
    <div x-show="currentPage === 2" x-cloak>
      <div class="my-5">
        <span class="p-text">Hi There! Looking forward to flying with you.  Is there anything you'd like us to know?  We'll give you a call shortly.</span>
        <%= form.text_area :comments, rows: 4, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-custom-50 focus:ring-custom-50" %>
      </div>

      <div class="flex justify-between">
        <input type="button" class="btn-primary" value="PREVIOUS" @click="currentPage--">
        <div class="inline">
          <%= form.submit "SEND", class: "btn-primary", data: { turbo: false } %>
        </div>
      </div>

      <div class="mt-10 text-slate-600 italic text-sm"><strong>Cancellations</strong> made with less than <strong>24 hours</strong> notice will incur a <strong>$75 fee</strong>.</div>
      <div class="mt-10 text-slate-600 italic text-sm">This form is a <span class="font-semibold">request</span> to complete a discovery flight at Sun City Aviation Academy.   <span class="font-semibold">You must talk with a Sun City team member and confirm the time and date to ensure you are on the schedule</span>.</div>
      <div class="mt-10">
        <%= image_tag "sun-city-black-text-logo.webp"%>
      </div>
    </div> 
  </div>
<% end %>