<%# Head / Meta Data %>
<% title("Youth Programs and AeroCamp at Sun City") %>
<% meta_description("Sun City Aviation Academy in KHWO North Perry Airport in South Florida offers youth programs and AeroCamp experiences. Explore aviation at our local airport with engaging activities for young aviation enthusiasts.") %>
<% meta_keywords("KHWO, North Perry Airport, South Florida, youth programs, AeroCamp, aviation education, aviation experiences, young aviators, aviation enthusiasts, local airport activities, aviation for kids, AeroCamp South Florida") %>

<%= render "shared/header"%>

<header class="w-full bg-center flex justify-center items-center">
  <div class="flex flex-col-reverse lg:flex-row w-full">
    <div class="lg:w-3/4">
      <%= image_tag "sun-city-aero-camp-group.webp", class:"object-cover min-h-full object-right", alt: "Sun City Aero Camp In Front of Sea Plane"%>
    </div>
    <div class="lg:w-1/4">
      <div
        class="flex flex-col items-center justify-center h-full" x-data="">
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 lg:mt-0 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
          x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
        />
        <h2 class="text-3xl xl:text-4xl font-bold text-center pb-10">Aviation Programs For <span class="text-custom-50">Youth</span> Pilots</h2>
        <p class="px-5 xl:px-12 text-center">
          We're dedicated to creating the next generation of pilots.  Our youth programs are geared to expose young aspiring aviators to the world of aviation and flying.
        </p>
        <div class="relative flex mt-5">
          <span class="animate-ping-1 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-2 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-3 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <%= link_to "JOIN TODAY", root_path, class: "btn-primary" %>
        </div>
        
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
          x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
        />
      </div>
    </div>
  </div>
</header>

<section class="bg-gradient-to-b from-neutral-800 to-neutral-900 text-white">
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col items-center lg:w-1/2">
      <h1 class="text-xl lg:text-2xl pt-20 text-center">Introducing <span class="text-custom-50">AeroCamp</span></h1>
      <h2 class="font-bold text-5xl pt-5 text-center">The Best Day Camp Ever</h2>
      <h2 class="font-semibold text-lg italic pt-5 pb-10 text-center">Inspiring a new generation of aviators.  <br class="hidden lg:block">Making science and aviation fun.</h2>
      <p class="w-3/4 pb-20">
        AeroCamp program provides a fantastic opportunity for campers to learn about aviation and aerospace. We've teamed up with <%= link_to "FSANA (Flight School Association of North America)", "https://www.fsana.com/aerocamp.php", class: "text-custom-50 hover:underline", target: "blank" %> to bring the fun AeroCamp adventure to aspiring aviators at North Perry Airport. During this immersive week long program, campers get to learn about flight dynamics, explore aircraft, and gain insights into aviation careers.  At the end of the camp, they'll have the opportunity to fly an airplane and also visit the air traffic control tower.
      </p>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-1/2">
      <%= image_tag "sun-city-camper-climbing-plane.webp", alt: "Sun City AeroCamp attendee climbing a plane during pre-flight", class: "lg:w-3/4 lg:rounded-xl"%>
    </div>
  </div>
</section>

<section class="flex flex-col items-center lg:py-10 bg-gradient-to-b from-neutral-200 to-yellow-100">
  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
  class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
  x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
  />
  <p class="text-base lg:text-xl max-w-xl text-center mx-10">
    AeroCamp at Sun City Aviation Academy offers young enthusiasts a unique opportunity to explore the thrilling world of aviation and aerospace at North Perry Airport. Our certified instructors and team guide campers through a week of exciting experiences, including the chance to sit in the front of a plane and go flying. Discover the wonders of aviation during this unforgettable adventure.
  </p>
  <hr
    class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
    
  </div>
</section>

<section class="bg-gradient-to-b from-white-800 to-yellow-100 lg:py-10 pt-10 pb-0">
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="flex flex-col items-center lg:w-1/2 pb-10 lg:pb-0">
      <h2 class="font-bold text-3xl px-5 lg:text-5xl pt-5 text-center">Upcoming <span class="text-custom-50">AeroCamp</span> Dates</h2>
      <p class="w-3/4 pb-10 lg:pb-20">
        <div class="flex flex-col px-5 gap-3 text-base">
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">November 6, 2023 - November 9, 2023 (ages 8-13)</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">November 13, 2023 - November 16, 2023 (ages 14-18)</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">December 11, 2023 - December 14, 2023 (ages 8-18)</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">December 27, 2023 - December 30, 2023 (ages 8-18)</h3>
          </div>
        </div>
      </p>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-1/2">
      <%= image_tag "sun-city-aero-camp-discovery-flight3.webp", alt: "Sun City AeroCamp attendee flying a plane", class: "lg:w-3/4 lg:rounded-xl"%>
      <p class="text-neutral-500 italic text-sm text-center px-10">
        AeroCamp attendee flying a plane over the South Florida area near Miami
      </p>
    </div>
  </div>
</section>

<section class="flex flex-col items-center bg-gradient-to-b from-neutral-700 to-neutral-900 lg:py-10">
  
  <div class="max-w-6xl mx-auto lg:rounded-2xl lg:border-2 lg:border-custom-50 bg-white py-5">
    <div class="flex-auto">
      <h4 class="text-center text-2xl font-bold px-5 pb-5">
        Interested in Joining <span class="text-custom-50">AeroCamp</span>?
      </h4>
      <p class="text-center px-5 italic text-neutral-700">
        Fill out the form below and we will get in contact with you shortly!
      </p>
      <p class="text-center px-5 pt-5 text-sm text-neutral-700">
        * denotes required fields
      </p>
      <div class="px-5">
        <%= turbo_frame_tag 'form-section', class: "h-full" do %>
          <%= render "form", camp: @camp %>  
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= render "shared/footer"%>


<%# Sticky div %>
</div>