<section class="bg-slate-200 flex flex-col pt-10 pb-0 lg:py-10">
  <div class="grid place-items-center pb-20">
      <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Visit SimpliFly Today</h3>
      <p class="w-3/4 p-text">We warmly invite you to visit SimpliFly and start a conversation with one of our knowledgeable team members. With the aim of providing exceptional service, we have established two conveniently situated locations to cater to your needs. You can find us in the vibrant city of Mesa, AZ. Additionally, we extend our reach to the charming town of Spanish Fork, UT, where you can immerse yourself in the scenic beauty while embarking on your aviation journey. Stop by either of our locations and discover the possibilities that await you at SimpliFly.</p>
    </div>
  
  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2 flex flex-col items-center ml-10">  
      <!--NAP-->
      <div class="flex flex-col gap-5 w-3/4 pb-10">
        <h4 class="text-2xl font-semibold pb-5 font-sans mx-5 text-center">KFFZ - Falcon Field</h4>
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "pin.webp", class: "h-7 max-w-min", alt: "map icon"%>
          </div>
          <div class="ml-5 p-text">
            4766 E Falcon Dr<br>
            Mesa, AZ 85215
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "phone.webp", class: "h-7 max-w-min", alt: "phone icon"%>
          </div>
          <div class="ml-5 p-text">
            <a href="tel:1-480-256-8355">1-480-256-8355</a><br>
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "email.webp", class: "h-7 max-w-min", alt: "email icon"%>
          </div>
          <div class="ml-5 p-text">
            <a href="mailto:info@simpliflyco.com">info@simpliflyco.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center">
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106524.15450588454!2d-111.69759349021899!3d33.452437258764384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba5acf819b911%3A0x94d7f96b6510541b!2sSimpliFly%20Flight%20School!5e0!3m2!1sen!2snl!4v1686322192481!5m2!1sen!2snl" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="lg:w-3/4 w-full aspect-auto"></iframe>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row mt-10">
    <div class="lg:w-1/2 flex flex-col justify-center items-center ml-10">
      <!--NAP-->
      <div class="flex flex-col gap-5 w-3/4 pb-10">
        <h4 class="text-2xl font-semibold pb-5 font-sans mx-5 text-center">KSPK - Spanish Fork</h4>
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "pin.webp", class: "h-7 max-w-min", alt: "map icon"%>
          </div>
          <div class="ml-5 p-text">
            2050 N. 300 W<br>
            Spanish Fork, UT 84660
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "phone.webp", class: "h-7 max-w-min", alt: "phone icon"%>
          </div>
          <div class="ml-5 p-text">
            <a href="tel:1-801-877-0568">1-801-877-0568</a><br>
          </div>
        </div>
        
        <div class="flex flex-row">
          <div class="">
            <%= image_tag "email.webp", class: "h-7 max-w-min", alt: "email icon"%>
          </div>
          <div class="ml-5 p-text">
            <a href="mailto:info@simpliflyco.com">info@simpliflyco.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.213831611956!2d-111.66254552420016!3d40.13752037258602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874dbdeee9823c7d%3A0x2ff4e7ed62767b47!2sSimpliFly%20Flight%20School!5e0!3m2!1sen!2snl!4v1686322685402!5m2!1sen!2snl" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="lg:w-3/4 w-full aspect-auto"></iframe>
    </div>
  </div>
</section>