<%# Head / Meta Data %>
<% title("Meet the Sun City Aviation Academy Team") %>
<% meta_description("Meet the experienced team of instructors South Florida.  At North Perry Airport (KHWO), Our experienced and hands on instructors are committed to your pilot training success. Many of our students come from West Palm Beach, Port of Miami, and Fort Lauderdale") %>
<% meta_keywords("how to become a pilot near me, flight school near me, Fort Lauderdale Flight School, Miami Flight School, West Palm Beach Flight School, Hollywood Flight School, Sun City Aviation Academy, flight school KHWO, flight school north perry") %>


<%= render "shared/header"%>

<header class="w-full bg-home bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-semibold font-sans text-5xl lg:text-6xl lg:px-20 text-center text-white uppercase"> The Premier Flight School In Hollywood, FL</h1>

     
      <!--Hide button for now-->
      <%#= link_to "LEARN HOW TODAY", airline_pilot_courses_path, data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
   
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">How It All Started</h3>
    <p class="w-3/4">
    Founded in December 2022 by Luke Poulos, Sun City Aviation Academy embodies a lifelong passion for aviation and teaching. Inspired by his grandfather's legacy and fueled by his father's teaching experience in the medical field, Luke is driven to nurture aspiring aviators.
    </p>
    <p class="w-3/4 py-10">
    With a solid background in aviation, including Part 135 charter operations and Part 121 airline experience, he understands the importance of a strong foundation in flight training. He also knows firsthand how the guidance of a knowledgeable instructor can give students a competitive edge in the aviation industry.
    
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-team-luke.webp", alt: "Student pilot taking a discovery flight", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>


<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">

    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">WHY SUN CITY AVIATION ACADEMY?</h3>
    <p class="w-3/4">
    At Sun City Aviation Academy, we take pride in our exceptional fleet of aircraft and our simulator, designed to provide you with the highest quality flight training experience. Whether you're just beginning your aviation journey or advancing your skills, our versatile aircraft and training tools are here to support your goals.
    </p>
    <button class="text-lg md:text-2xl bg-black text-white py-3 px-6 mt-10 hover:bg-red-600 rounded-xl border-white">ENROLL NOW</button>
    
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-shaking-hands.webp", alt: "Student pilot passing a checkride", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>


    
  </div>
</section>



<%= render "shared/visit_school"%>
<%= render "shared/cta_were_experts"%>

