<%# Head / Meta Data %>
<% title("Meet the Sun City Aviation Academy Team") %>
<% meta_description("Meet the experienced team of instructors South Florida.  At North Perry Airport (KHWO), Our experienced and hands on instructors are committed to your pilot training success. Many of our students come from West Palm Beach, Port of Miami, and Fort Lauderdale") %>
<% meta_keywords("how to become a pilot near me, flight school near me, Fort Lauderdale Flight School, Miami Flight School, West Palm Beach Flight School, Hollywood Flight School, Sun City Aviation Academy, flight school KHWO, flight school north perry") %>


<%= render "shared/header"%>


<!-- body-->
<section>
  <div class="bg-cessna-bg bg-center bg-cover bg-fixed relative flex flex-col justify-center h-screen lg:h-screen-3/4">
    <div class="absolute lg:top-1/2 lg:left-10 max-w-full md:left-20 px-5">
      <div class=" text-white text-2xl lg:text-4xl py-4 font-bold">ABOUT US </div>
      <div class="bg-custom-50 text-3xl lg:text-5xl font-bold text-black px-10 py-5 "> The Premier Flight School In Hollywood, FL</div>
    </div>
  </div>
</section>

<section class="flex flex-col items-center lg:my-10">
  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
  class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
  x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
  />
  <h2 class="text-3xl font-serif italic font-semibold pb-10 pt-3">Our Mission Is</h2>
  <p class="text-xl max-w-xl text-center mx-10">
    to train professional, safe, and proficient pilots
    <span class="hidden lg:inline"><br></span>
    who will one day excel in the aviation industry.

   
  </p>
  <hr
    class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
    
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
   
  
    <h3 class="text-5xl font-bold pb-10 font-header mx-5 text-center">How It All Started</h3>
    <p class="w-3/4">
    Founded in December 2022 by Luke Poulos, Sun City Aviation Academy embodies a lifelong passion for aviation and teaching. Inspired by his grandfather's legacy and fueled by his father's teaching experience in the medical field, Luke is driven to nurture aspiring aviators.
    </p>
    <p class="w-3/4 py-10">
    With a solid background in aviation, including Part 135 charter operations and Part 121 airline experience, he understands the importance of a strong foundation in flight training. He also knows firsthand how the guidance of a knowledgeable instructor can give students a competitive edge in the aviation industry.

     </p>
     <button class="btn-primary my-1 px-7"><%= link_to " MEET LUKE ", 'discovery-flight',target: "_blank"%></button>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-team-luke.webp", alt: "Student pilot taking a discovery flight", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
    
  </div>
</section>




<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">

    <h3 class="text-5xl font-bold pb-10 font-header mx-5 text-center">Why Sun City Aviation Academy?</h3>
    <p class="w-3/4">
    At Sun City Aviation Academy, we take pride in our exceptional fleet of aircraft and our simulator, designed to provide you with the highest quality flight training experience. Whether you're just beginning your aviation journey or advancing your skills, our versatile aircraft and training tools are here to support your goals.
    </p>
    <button class="btn-primary my-5" @click="showEnrollment = true">ENROLL NOW</button>
    
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-shaking-hands.webp", alt: "Student pilot passing a checkride", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>


    
  </div>
</section>

<section class="bg-custom-50 py-10">

  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2 flex flex-col items-center justify-center">
      <p class="text-3xl italic text-center pb-10 lg:pb-0">"Training professional, safe, proficient pilots "</p>
    </div>
    <div class="lg:w-1/2 flex flex-col justify-center">
      <h2 class="font-semibold text-2xl text-center pb-10 px-5">Knowledgeable Experienced Flight Instructors</h2>
      <p class="px-10">Our team makes safety our primary concern so you can the best pilot that you can be as well as the safest pilot that you can be.</p>
      <p class="px-10 pt-5">Our Instructors are experienced, active aviation professionals with current involvement in airline, corporate and charter operations.</p>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row mt-10 mx-10 lg:mx-40 gap-5" x-data>
    <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl  bg-black text-white flex flex-col items-center">
      <p class="py-3">
        <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 100, time: 800}" x-intersect.once="() => {
          start = current; 
          const interval = Math.max(time / (target - start), 5); 
          const step = (target - start) /  (time / interval);  
          const handle = setInterval(() => {
              if(current < target) 
                  current += step
              else {
                  clearInterval(handle);
                  current = target
              }   
              }, interval)
          }">
          <div class="card"x-text="Math.round(current)"></div>%
        </div>
      </p>
      <p class="pb-5">Safety record</p>
    </div>




    
    <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl  bg-black text-white flex flex-col items-center">
      <p class="py-3">  
        <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 80000, time: 1000}" x-intersect.once="() => {
          start = current; 
          const interval = Math.max(time / (target - start), 5); 
          const step = (target - start) /  (time / interval);  
          const handle = setInterval(() => {
              if(current < target) 
                  current += step
              else {
                  clearInterval(handle);
                  current = target
              }   
              }, interval)
          }">
          <div class="card"x-text="Math.round(current).toLocaleString()"></div>+
        </div>
      </p>
      <p class="pb-5 text-center">Hours of combined experience</p>
    </div>
    <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl  bg-black text-white flex flex-col items-center">
      <p class="py-3">
        <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 98, time: 2000}" x-intersect.once="() => {
          start = current; 
          const interval = Math.max(time / (target - start), 5); 
          const step = (target - start) /  (time / interval);  
          const handle = setInterval(() => {
              if(current < target) 
                  current += step
              else {
                  clearInterval(handle);
                  current = target
              }   
              }, interval)
          }">
          <div class="card"x-text="Math.round(current)"></div>%
        </div>
      </p>
      <p class="pb-5 text-center">Checkride pass rate</p>
    </div>
    <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl  bg-black text-white flex flex-col items-center">
      <p class="py-3">
        <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 200, time: 2000}" x-intersect.once="() => {
          start = current; 
          const interval = Math.max(time / (target - start), 5); 
          const step = (target - start) /  (time / interval);  
          const handle = setInterval(() => {
              if(current < target) 
                  current += step
              else {
                  clearInterval(handle);
                  current = target
              }   
              }, interval)
          }">
          <div class="card"x-text="Math.round(current)"></div>+
        </div>
      </p>
      <p class="pb-5">Students trained</p>
    </div>
  </div>
</section>




<%= render "shared/visit_school"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/footer"%>