<%= render "shared/header"%>

<section class="flex flex-col h-screen-3/4 bg-gradient-to-t from-amber-50 to-white lg:bg-about-us bg-cover bg-center lg:justify-end justify-center items-center text-black"  x-data="">
  <hr
    class=" lg:hidden bg-custom-50 pt-1 border-0 w-3/4 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
    x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
    />
  
  <h2 class="text-4xl font-bold text-center">Come See What Everyone's Talking About</h2>

  <div class="max-w-2xl mx-auto">

    <p class="pt-5 lg:px-0 font-serif italic text-xl text-center">
      We train professional, safe, and proficient pilots, who will excel in aviation
    </p>

  </div>
  
  <%= link_to "SAY HELLO", root_path, data: { turbo: false }, class: "btn-primary  mb-10 mt-5" %>

  <hr
    class="lg:hidden bg-custom-50 h-1 w-3/4 mt-10 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
</section>

<div class="lg:hidden">
  <%= image_tag "sun-city-about-us-background-no-fade.webp"%>
</div>

<section class="bg-white flex flex-col items-center">
  <div class="max-w-4xl">
    <ol class="items-center sm:flex ">
      <li class="relative mb-6 sm:mb-0 mt-10 ">
        <div class="flex justify-center lg:justify-start ">
          
            <h3 class="text-3xl font-bold pb-3 text-center">
              How It All Started
            </h3>
            
        </div>
        <div class="hidden sm:flex w-full bg-neutral-200 h-0.5"></div>
        <div class="mt-6 sm:pr-8">
          <div class="flex flex-col-reverse lg:flex-row w-full gap-10 items-end">
            
            
            <%= image_tag "sun-city-luke-poulos-sea-plane.webp", alt: "", class: "lg:w-1/3 object-cover lg:rounded-2xl" %>
            

            <div class="text-base font-normal text-neutral-600">
              <p class="pb-10 px-3">
              Founded in December 2022 by Chief Pilot Luke
              Poulos, Sun City Aviation Academy embodies a
              lifelong passion for aviation and teaching.

              Inspired by his grandfather's legacy and fueled by his
              father's teaching experience in the medical field,
              Luke is driven to nurture aspiring aviators.
              </p>
              <p class="px-3">
              With a solid background in aviation, including Part 135 charter operations and Part
              121 airline experience, he understands the importance of a strong foundation in
              flight training. He also knows firsthand how the guidance of a knowledgeable
              instructor can give students a competitive edge in the aviation industry.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <ol class="items-center sm:flex ">
      <li class="mb-6 sm:mb-0 mt-10 flex-grow">
        <div class="flex items-center justify-center lg:justify-end">
          
            <div class="text-3xl font-bold lg:pb-3">
              Our Location
            </div>
            
        </div>
        <div class="hidden sm:flex w-full bg-neutral-200 h-0.5"></div>
        
      </li>
    </ol>
    <h3 class="text-center pt-6 text-neutral-600">We are located at North Perry Airport KHWO in Pembroke Pines, Florida, U.S.A</h3>
    <div class="mt-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.1490846155243!2d-80.2355894240109!3d25.995933277205516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a96c916c96bb%3A0x7fe41940c41420e8!2sSun%20City%20Aviation%20Academy!5e0!3m2!1sen!2sus!4v1694496294691!5m2!1sen!2sus" class="w-full" height="315px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<section class="flex flex-col items-center lg:my-10">
  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
  class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
  x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
  />
  <h2 class="text-3xl font-serif italic font-semibold pb-10 pt-3">Our Mission Is</h2>
  <p class="text-xl max-w-xl text-center mx-10">
    to train professional, safe, and proficient pilots
    <span class="hidden lg:inline"><br></span>
    who will one day excel in the aviation industry.
  </p>
  <hr
    class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
    
  </div>
</section>

<section class="bg-white flex flex-col items-center w-full">
  <div class="max-w-4xl w-full">
    <ol class="items-center sm:flex flex-grow pb-5">
      <li class="mb-6 sm:mb-0 mt-10 w-full"> <!-- Added 'w-full' class to the li element -->
        <div class="flex items-center justify-center lg:justify-start">
          <h2 class="text-3xl font-bold pb-3 w-full"> <!-- Added 'w-full' class to the h2 element -->
            Meet The Team
          </h2>
        </div>
        <div class="hidden sm:flex w-full bg-neutral-200 h-0.5"></div>
      </li>
    </ol>


<div class="flex flex-col lg:flex-row w-full lg:gap-10 relative">
  <div class="lg:w-1/2 relative">
    <%= image_tag "sun-city-team-luke.webp", class: " lg:rounded-t-2xl", alt: "Luke Poulos, Founder, CEO & Chief Pilot"%>
    <div class="bg-neutral-800 text-white lg:rounded-b-2xl flex flex-col items-center">
      <p class="text-2xl font-semibold pt-5">Joe Cannizzaro</p>
      <p class="italic font-serif">Director of Operations</p>
      <p class="px-5 py-5">
        Joe spent the last 30 Years working in flight school operations, and flying professionally for both a Part 121 and Part 135 Operator. Joe has been an essential part of multiple flight schools throughout his 30 years, serving as a Chief pilot and Director of Operations. Joe has over 4,000 total flight hours and currently holds a ATP, CFI, CFI-I, and MEI certificates.
      </p>
    </div>
  </div>
  <div class="lg:w-1/2 relative">
    <%= image_tag "sun-city-team-joe.webp", class: "lg:rounded-t-2xl", alt: ""%> 
    <div class="bg-neutral-800 text-white lg:rounded-b-2xl flex flex-col items-center">
      <p class="text-2xl font-semibold pt-5">Joe Cannizzaro</p>
      <p class="italic font-serif">Director of Operations</p>
      <p class="px-5 py-5">
        Joe spent the last 30 Years working in flight school operations, and flying professionally for both a Part 121 and Part 135 Operator. Joe has been an essential part of multiple flight schools throughout his 30 years, serving as a Chief pilot and Director of Operations. Joe has over 4,000 total flight hours and currently holds a ATP, CFI, CFI-I, and MEI certificates.
      </p>
    </div>
  </div>
</div>

  </div>
</section>



<%= render "shared/cta_were_experts"%>

<%= render "shared/footer"%>