<%# Head / Meta Data %>
<% title("Meet the Sun City Aviation Academy Team") %>
<% meta_description("Meet the experienced team of instructors South Florida.  At North Perry Airport (KHWO), Our experienced and hands on instructors are committed to your pilot training success. Many of our students come from West Palm Beach, Port of Miami, and Fort Lauderdale") %>
<% meta_keywords("how to become a pilot near me, flight school near me, Fort Lauderdale Flight School, Miami Flight School, West Palm Beach Flight School, Hollywood Flight School, Sun City Aviation Academy, flight school KHWO, flight school north perry") %>


<%= render "shared/header"%>


<!-- body-->
<section>
<div class="relative flex h-screen">

<%=image_tag "sun-city-cessna-172-bg.webp", alt: "Student pilot passing a checkride", class: "h-full w-full object-cover object-center"%>


 
  <div class="absolute top-1/2 left-10 max-w-full md:left-20">
    <div class=" text-white text-4xl py-4 font-bold">ABOUT US </div>
    <div class="bg-custom-50 text-5xl font-bold text-black px-10 py-5 "> The Premier Flight School In Hollywood, FL</div>
  </div>
</div>
</section>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
   
  
    <h3 class="text-5xl font-bold pb-10 font-header mx-5 text-center">How It All Started</h3>
    <p class="w-3/4">
    Founded in December 2022 by Luke Poulos, Sun City Aviation Academy embodies a lifelong passion for aviation and teaching. Inspired by his grandfather's legacy and fueled by his father's teaching experience in the medical field, Luke is driven to nurture aspiring aviators.
    </p>
    <p class="w-3/4 py-10">
    With a solid background in aviation, including Part 135 charter operations and Part 121 airline experience, he understands the importance of a strong foundation in flight training. He also knows firsthand how the guidance of a knowledgeable instructor can give students a competitive edge in the aviation industry.
    
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-team-luke.webp", alt: "Student pilot taking a discovery flight", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>


<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">

    <h3 class="text-5xl font-bold pb-10 font-header mx-5 text-center">Why Sun City Aviation Academy?</h3>
    <p class="w-3/4">
    At Sun City Aviation Academy, we take pride in our exceptional fleet of aircraft and our simulator, designed to provide you with the highest quality flight training experience. Whether you're just beginning your aviation journey or advancing your skills, our versatile aircraft and training tools are here to support your goals.
    </p>
    <button class="btn-primary" @click="showEnrollment = true">ENROLL NOW</button>
    
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-shaking-hands.webp", alt: "Student pilot passing a checkride", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>


    
  </div>
</section>



<%= render "shared/visit_school"%>
<%= render "shared/cta_were_experts"%>

