<%= render "shared/header"%>

<header class="w-full bg-airplanes bg-cover h-screen-3/4 lg:h-screen-4/5 bg-center flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
      <h1 class="font-bold text-5xl text-center">Our Aircraft Fleet</h1>
      <h2 class="font-bold text-4xl text-center py-10">Explore Our Impressive Range of Training Aircraft</h2>
      <button class="btn-primary" @click="showEnrollment = true">START FLYING TODAY</button>
      
  </div>
</header>


<section class="flex flex-col items-center lg:my-10">
  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
  class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
  x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
  />
  <p class="text-xl max-w-xl text-center mx-10">
    At Sun City Aviation Academy, we take pride in our exceptional fleet of aircraft and our simulator, designed to provide you with the highest quality flight training experience. Whether you're just beginning your aviation journey or advancing your skills, our versatile aircraft and training tools are here to support your goals.
  </p>
  <hr
    class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
    
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Cessna 172</h3>
    <p class="w-3/4 pb-5">
      Start your aviation adventure with our robust fleet of Cessna 172 aircraft. These reliable and versatile planes are perfectly suited for those taking their first steps into the world of flight. With spacious cockpits and user friendly controls, our Cessna 172s provide an ideal learning environment for aspiring pilots.
    </p>
    <p class="w-3/4 pb-10">
      These reliable aircraft are equipped with cutting edge Garmin 430 navigation systems, Aspen and dual G5 PFDs (primary flight displays), and Garmin MFDs (multi function displays), ensuring that you're prepared to navigate the skies with precision and confidence.  Continue your training beyond your private certificate with our instrument capable aircraft.
    </p>
    <%= link_to "FLY THE CESSNA 172", cessna172_path, class: "btn-primary mb-10",  data: { turbo: false }%>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <!--Slider--->
    <div x-data="{
      slide: 0,
      images: [
        '<%= image_url "sun-city-cessna1.webp" %>',
        '<%= image_url "sun-city-cessna2.webp" %>',
        '<%= image_url "sun-city-cessna3.webp" %>'
      ],
      autoplay: null,
      startAutoplay() {
        this.autoplay = setInterval(() => {
          this.nextSlide();
        }, 11000);  //timer
      },
      stopAutoplay() {
        clearInterval(this.autoplay);
        this.autoplay = null;
      },
      nextSlide() {
        this.slide = (this.slide + 1) % this.images.length;
      },
      prevSlide() {
        this.slide = this.slide - 1 < 0 ? this.images.length - 1 : this.slide - 1;
      }
    }" x-init="startAutoplay()" id="slider" class="w-full lg:w-3/4">
      <div x-show="images.length > 1" class="relative">
    <template x-for="(image, index) in images" :key="index">
      <img x-show="slide === index" :src="image" :alt="'Modern Tecnam Airplane ' + (index + 1)" class="w-full"
        x-transition:enter="opacity-0 duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
        x-transition:leave="opacity-100 duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
        :class="{'hidden': index !== slide}" x-init="setTimeout(() => { $el.classList.remove('hidden'); }, 100)">
    </template>

        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="prevSlide()" class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Previous</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="nextSlide()" class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Next</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
        <div class="absolute bottom-0 left-0 w-full flex justify-center space-x-2 pb-2">
          <template x-for="(image, index) in images" :key="index">
            <button x-on:click="slide = index" :class="{'bg-custom-50': index === slide, 'bg-slate-50': index !== slide}" class="h-2 w-2 rounded-full"></button>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Beechcraft Duchess</h3>
    <p class="w-3/4 pb-5">
      As you step into the cockpit of our Beechcraft Duchess, you'll discover a world of possibilities that extends beyond single engine flight. Our instructors are dedicated to helping you navigate the intricacies of multi engine operations, ensuring that you're well prepared to take on the challenges of the aviation industry. The Duchess is a testament to our commitment to providing you with the highest quality training resources, helping you achieve your goals and elevate your aviation career with the latest Garmin avionics at your fingertips.
    </p>
    <p class="w-3/4 pb-10">
      Equipped with Dual Garmin G5 Electronic Flight Displays and a cutting edge touch screen Garmin 750xi, this aircraft sets the stage for mastering multi engine flight with state of the art technology.  Get your multi engine training done at Sun City Aviation Academy.
    </p>
    <button class="btn-primary mb-10" @click="showEnrollment = true">FLY THE DUCHESS</button>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <!--Slider--->
    <div x-data="{
      slide: 0,
      images: [
        '<%= image_url "sun-city-multi1.webp" %>',
        '<%= image_url "sun-city-multi2.webp" %>',
        '<%= image_url "sun-city-multi3.webp" %>'
      ],
      autoplay: null,
      startAutoplay() {
        this.autoplay = setInterval(() => {
          this.nextSlide();
        }, 12000);  //timer
      },
      stopAutoplay() {
        clearInterval(this.autoplay);
        this.autoplay = null;
      },
      nextSlide() {
        this.slide = (this.slide + 1) % this.images.length;
      },
      prevSlide() {
        this.slide = this.slide - 1 < 0 ? this.images.length - 1 : this.slide - 1;
      }
    }" x-init="startAutoplay()" id="slider" class="w-full lg:w-3/4">
      <div x-show="images.length > 1" class="relative">
    <template x-for="(image, index) in images" :key="index">
      <img x-show="slide === index" :src="image" :alt="'Modern Tecnam Airplane ' + (index + 1)" class="w-full"
        x-transition:enter="opacity-0 duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
        x-transition:leave="opacity-100 duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
        :class="{'hidden': index !== slide}" x-init="setTimeout(() => { $el.classList.remove('hidden'); }, 100)">
    </template>

        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="prevSlide()" class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Previous</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="nextSlide()" class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Next</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
        <div class="absolute bottom-0 left-0 w-full flex justify-center space-x-2 pb-2">
          <template x-for="(image, index) in images" :key="index">
            <button x-on:click="slide = index" :class="{'bg-custom-50': index === slide, 'bg-slate-50': index !== slide}" class="h-2 w-2 rounded-full"></button>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Redbird Flight Simulator</h3>
    <p class="w-3/4 pb-5">
      At Sun City Aviation Academy, we recognize the immense value of simulator training, and we've harnessed its potential to elevate your training experience to new heights. The simulator stands as an indispensable tool, offering a multitude of benefits that enhance a student pilot's journey.  Using a simulator allows you to practice maneuvers, refine techniques, and master emergency procedures.  You can pause mid flight and replay different scenarios and conditions which help solidify your training and make you a better and safer pilot.
    </p>
    <p class="w-3/4 pb-10">
      Our scenario based training approach, coupled with FAA approval as an Advanced Aviation Training Device (AATD), ensures that your simulator hours count towards your pilot certification. Simulator training empowers you to confidently navigate real world challenges, making it an essential tool for building precision, safety, and aeronautical decision making skills.
    </p>
    <button class="btn-primary mb-10" @click="showEnrollment = true">FLY THE REDBIRD</button>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <!--Slider--->
    <div x-data="{
      slide: 0,
      images: [
        '<%= image_url "sun-city-redbird1.webp" %>',
        '<%= image_url "sun-city-redbird2.webp" %>',
        '<%= image_url "sun-city-redbird3.webp" %>'
      ],
      autoplay: null,
      startAutoplay() {
        this.autoplay = setInterval(() => {
          this.nextSlide();
        }, 13000);  //timer
      },
      stopAutoplay() {
        clearInterval(this.autoplay);
        this.autoplay = null;
      },
      nextSlide() {
        this.slide = (this.slide + 1) % this.images.length;
      },
      prevSlide() {
        this.slide = this.slide - 1 < 0 ? this.images.length - 1 : this.slide - 1;
      }
    }" x-init="startAutoplay()" id="slider" class="w-full lg:w-3/4">
      <div x-show="images.length > 1" class="relative">
    <template x-for="(image, index) in images" :key="index">
      <img x-show="slide === index" :src="image" :alt="'Modern Tecnam Airplane ' + (index + 1)" class="w-full"
        x-transition:enter="opacity-0 duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
        x-transition:leave="opacity-100 duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
        :class="{'hidden': index !== slide}" x-init="setTimeout(() => { $el.classList.remove('hidden'); }, 100)">
    </template>

        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="prevSlide()" class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Previous</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="nextSlide()" class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Next</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
        <div class="absolute bottom-0 left-0 w-full flex justify-center space-x-2 pb-2">
          <template x-for="(image, index) in images" :key="index">
            <button x-on:click="slide = index" :class="{'bg-custom-50': index === slide, 'bg-slate-50': index !== slide}" class="h-2 w-2 rounded-full"></button>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Cessna 182 Seaplane</h3>
    <p class="w-3/4 pb-5">
      With its unique capability to operate on both land and water, the Cessna 182 amphibious seaplane opens up a world of exploration. Whether you're soaring through the skies or touching down on serene waterways, this aircraft offers an awesome flying experience.  Earning your seaplane rating is a significant achievement. It opens up a world of opportunities for recreational flying, remote area access, and even potential careers in fields like aerial tourism or bush flying.
    </p>
    <p class="w-3/4 pb-10">
      This remarkable aircraft is equipped with Dual Garmin G5 Electronic Flight Displays, a Garmin 530W, and an MFD combo, providing you with advanced avionics for all your flying adventures, whether over land or water. Join us at Sun City Aviation Academy and set sail on the path to becoming a skilled and certified seaplane pilot.
    </p>
    <button class="btn-primary mb-10" @click="showEnrollment = true">FLY THE SEAPLANE</button>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <!--Slider--->
    <div x-data="{
      slide: 0,
      images: [
        '<%= image_url "sun-city-seaplane1.webp" %>',
        '<%= image_url "sun-city-seaplane2.webp" %>',
        '<%= image_url "sun-city-seaplane3.webp" %>'
      ],
      autoplay: null,
      startAutoplay() {
        this.autoplay = setInterval(() => {
          this.nextSlide();
        }, 10000);  //timer
      },
      stopAutoplay() {
        clearInterval(this.autoplay);
        this.autoplay = null;
      },
      nextSlide() {
        this.slide = (this.slide + 1) % this.images.length;
      },
      prevSlide() {
        this.slide = this.slide - 1 < 0 ? this.images.length - 1 : this.slide - 1;
      }
    }" x-init="startAutoplay()" id="slider" class="w-full lg:w-3/4">
      <div x-show="images.length > 1" class="relative">
    <template x-for="(image, index) in images" :key="index">
      <img x-show="slide === index" :src="image" :alt="'Modern Tecnam Airplane ' + (index + 1)" class="w-full"
        x-transition:enter="opacity-0 duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
        x-transition:leave="opacity-100 duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
        :class="{'hidden': index !== slide}" x-init="setTimeout(() => { $el.classList.remove('hidden'); }, 100)">
    </template>

        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="prevSlide()" class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Previous</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button x-show="images.length > 1" x-on:mouseover="stopAutoplay()" x-on:mouseleave="startAutoplay()" x-on:click="nextSlide()" class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 rounded-md text-white bg-custom-50 hover:bg-amber-500 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out mx-3">
          <span class="sr-only">Next</span>
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
        <div class="absolute bottom-0 left-0 w-full flex justify-center space-x-2 pb-2">
          <template x-for="(image, index) in images" :key="index">
            <button x-on:click="slide = index" :class="{'bg-custom-50': index === slide, 'bg-slate-50': index !== slide}" class="h-2 w-2 rounded-full"></button>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>


<%#= render "shared/cta_arch"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/insta"%>
<%= render "shared/footer"%>