<%# Head / Meta Data %>
<%# title("Advanced Traiing at Ideal Aviation") %>
<%# meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your instrument rating and commercial certificate done in the best flight school in St. Louis") %>
<%# meta_keywords("Instrument rating st. louis, multi-engine training st. louis, flight instructor CFI rating st louis, piper seminole in st louis, guimbal cabri st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/header"%>

<header class="w-full bg-center flex justify-center items-center">
  <div class="flex flex-col-reverse lg:flex-row w-full">
    <div class="lg:w-3/4">
      <%= image_tag "sun-city-team-in-front-of-seaplane.webp", class:"object-cover min-h-full object-right", alt: "Sun City Team In Front of Sea Plane"%>
    </div>
    <div class="lg:w-1/4">
      <div
        class="flex flex-col items-center justify-center h-full" x-data="">
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 lg:mt-0 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
          x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
        />
        <h2 class="text-3xl xl:text-4xl font-bold text-center pb-10">Become a <br><span class="text-custom-50">Professional</span> Pilot</h2>
        <p class="px-5 xl:px-12 text-center">
          Your path to becoming a professional pilot starts here. Our experienced instructors will help you achieve your aviation goals. Join the family at Sun City.
        </p>
        <div class="relative flex mt-5">
          <span class="animate-ping-1 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-2 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-3 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <button class="btn-primary" @click="showEnrollment = true">START TODAY</button>
        </div>
        
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
          x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
        />
      </div>
    </div>
  </div>
</header>

<%= render "shared/pilot_courses"%>

<section class="w-full flex flex-col items-center lg:py-10 lg:px-5 bg-neutral-100">
  <div class="max-w-5xl bg-neutral-800 lg:rounded-xl flex flex-col items-center lg:px-10 text-white">
    <h3 class="text-3xl lg:text-5xl font-bold text-center py-10">Why <span class="text-custom-50">Sun City</span><br>Aviation Academy?</h3>
    <div class="flex flex-col lg:flex-row lg:items-center w-full">
      <div class="lg:w-1/2 h-96 bg-luke bg-cover bg-center flex flex-col items-center justify-end lg:hidden">
        <div class="w-full bg-black/70 text-center">
          <div class="text-3xl font-bold py-3">
            Luke Poulos
          </div>
          <div class="font-serif italic pb-5">
            Founder & CEO
          </div>
        </div>
      </div>
      <div
        class="lg:w-1/2 h-96 bg-luke bg-cover bg-top lg:flex flex-col items-center justify-end relative overflow-hidden hidden"
        x-data="{ isVisible: false }"
        x-on:mouseenter="isVisible = true"
        x-on:mouseleave="isVisible = false"
      >
        <div class="w-full absolute inset-0 flex flex-col items-center justify-end">
          <div
            class="bg-black/70 w-full text-center transition-transform transform translate-y-full hover:translate-y-0 py-3 duration-500"
            :class="{ 'translate-y-full': !isVisible, 'translate-y-0': isVisible }"
          >
            <div class="text-3xl font-bold">
              Luke Poulos
            </div>
            <div class="font-serif italic pb-5">
              Founder & CEO
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 flex flex-col items-center justify-center">
        <hr class="bg-white h-1 w-3/4 my-10"/>
        <p class="w-3/4 text-lg text-center lg:text-left">
          We offer a diverse range of programs designed to elevate you to new heights in the world of aviation. Experience our fast track programs with 7 days a week training, guided by our seasoned instructors. Luke Poulos, our founder, boasts over 20 years of aviation industry experience. His mission is to make Sun City Aviation Academy the top rated flight school in the country. 
        </p>
        <hr class="bg-white h-1 w-3/4 my-10"/>
      </div>
    </div>
    <div class="lg:border lg:border-white rounded-full p-3 flex flex-col lg:flex-row gap-5 lg:mt-5 mb-10 font-serif italic">
      <div class="rounded-full bg-white text-black lg:px-3 px-10 py-1 shutter-button flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFBB59" class="check" viewBox="0 0 20 20">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        Experience in Aviation
      </div>
      <div class="rounded-full bg-white text-black lg:px-3 px-10 py-1 shutter-button flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFBB59" class="check" viewBox="0 0 20 20">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        Individualized Attention
      </div>
      <div class="rounded-full bg-white text-black lg:px-3 px-10 py-1 shutter-button flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFBB59" class="check" viewBox="0 0 20 20">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        Excellent Customer Service
      </div>
      <div class="rounded-full bg-white text-black lg:px-3 px-10 py-1 shutter-button flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFBB59" class="check" viewBox="0 0 20 20">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        Structured Lessons
      </div>
    </div>
  </div>
</section>

<!--Testimonials-->
<%= render "shared/testimonials" %>

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2">
    <span class="text-xl lg:text-3xl text-center">Start Your Aviation Journey With</span>
    <h3 class="text-3xl lg:text-5xl font-bold pb-10 mx-5 text-center">A DISCOVERY FLIGHT</h3>
    <p class="w-3/4">
      A discovery flight the first step into becoming a pilot. 
      If you've ever been interested in flying an airplane, 
      then this is your chance to be inside the cockpit on the controls. 
      You'll be paired up with a certificated flight instructor and get clearance from the tower to taxi to the runway. 
      Push the throttle forward and pull controls back to lift the plane from the ground. 
    </p>
    <p class="w-3/4 py-10">
      Doing a discovery flight is the best way to
      determine if being a pilot is right for you. 
      Whether you're trying it out for fun or want to fly professionally,
      doing a discovery flight will allow you to see the Ft. Lauderdale Hollywood from a new perspective.
    </p>
    <%= link_to "SCHEDULE TODAY", discovery_flight_path, target: "blank", data: { turbo: false }, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-discovery-flight.webp", alt: "Take a disovery flight with Sun City and see Miami from the skies", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2">
    <span class="text-xl lg:text-3xl ">Start Pilot Training and</span>
    <h3 class="text-3xl lg:text-5xl font-bold pb-10 mx-5 text-center">RECEIVE YOUR PILOT CERTIFICATE</h3>
    <p class="w-3/4">
      Your private pilot certificate is the first major milestone in becoming a pilot. 
      With a private pilot certificate, you are allowed to be the pilot in command and 
      have the priviledge of taking on passengers. To get the certificate, you will train 
      consistently and pass a written exam, medical exam, and pratical exam.
    </p>
    <p class="w-3/4 py-10">
      The team at Sun City Aviation Academy will guide you every step of the way.  Right after your discovery 
      flight, you'll work with a flight instructor where you'll have individualized training.  You'll learn how to 
      maneuver the airplane in the sky and eventually get your wings and have the training to fly solo.  From there, 
      we work on strengthening your piloting skills to be prepared for your checkride with a FAA designated pilot examiner.  
      When you fly at Sun City, you're more than just a number.  Your part of the Sun City family.  
    </p>
    <%= link_to "PRIVATE PILOT TRAINING", private_pilot_path, data: { turbo: false }, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-studying.webp", alt: "Sun City students going over maps and flight charts planning out a cross country in the Hollywood, FL airspace", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2">
    <h3 class="text-3xl lg:text-5xl font-bold pb-10 mx-5 text-center">Can You Become a Pilot?</h3>
    <p class="w-3/4">
      Many people believe that becoming a pilot is out of reach due to concerns about expenses, time commitments, and safety. These concerns often arise from online research and general uncertainty. We understand these valid concerns and encourage you to speak with a Sun City team member to address any questions that may have arisen during your research.
    </p>
    <p class="w-3/4 py-10">
      At Sun City Aviation Academy, you don't need to make a substantial financial commitment upfront. It all begins with an affordable discovery flight, costing only a few hundred dollars. Pursuing your pilot's license is indeed a significant time investment, but it's a life changing achievement with long lasting rewards. Safety is our utmost priority at Sun City, ensuring your journey to becoming a pilot is both fulfilling and safe.
    </p>
    <p class="w-3/4 pb-10">
      Wondering if a pilot's life is right for you? Discover if the world of aviation is right for you by taking our "Is Flying Right for Me?" quiz. This quiz is designed to help you explore your interests and determine if the skies are where you belong. Get started on your aviation journey by clicking below to take the quiz,
    </p>
    <%= link_to "TAKE THE QUIZ", quiz_path, target: "blank", data: { turbo: false }, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-private-pilot-pass-checkride.webp", alt: "Student pilot at Sun City after passing her private pilot checkride", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>

<div style="height: 0px; overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;">
  <iframe
    style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
    src="https://tube.rvere.com/embed?v=F68KG_5tauU"
    title="YouTube video player"
    frameBorder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowFullScreen>
  </iframe>
</div>

<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>

<!--Insta Feed-->
<%= render "shared/insta" %>

<%= render "shared/footer"%>



<!--Sticky div-->
</div>