<%# Head / Meta Data %>
<% title("Multi Engine Training | Sun City Aviation Academy") %>
<% meta_description("Embark on your journey to becoming a skilled multi-engine pilot in the vibrant aviation community of North Perry Airport (KHWO) with Sun City Aviation Academy. Our Multi-Engine Training program provides top-tier instruction in multi-engine aircraft operations, offering you the opportunity to master advanced flying skills in the heart of South Florida. Whether you aim to pursue a commercial pilot career or simply wish to explore the exhilarating world of multi-engine flight, our experienced instructors and state-of-the-art facilities at KHWO will propel you toward success.") %>
<% meta_keywords("North Perry Airport, KHWO, Multi-Engine Training, Multi-Engine Aircraft, Multi-Engine Certification, Multi-Engine Flight School, Multi-Engine Pilot, Multi-Engine Training Program, Multi-Engine Aircraft Systems, Advanced Flight Maneuvers, South Florida Aviation") %>

<%= render "shared/header"%>
<header class="w-full bg-multi bg-cover h-screen-3/4 lg:h-screen-4/5 bg-bottom flex justify-center items-center">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
    <h1 class="font-bold text-5xl text-center">Multi Engine Course</h1>
    <h2 class="font-bold text-4xl text-center py-10">Fly advanced aircraft and become more competitive in your aviation career</h2>
    <%= link_to "START TODAY", root_path, data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>

<section class="flex flex-col items-center py-10 bg-gradient-to-b from-white to-amber-50">
  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h3 class="font-semibold text-xl lg:text-3xl text-center">What Is A Multi Engine Rating?</h3>
  </div>

  <div class="max-w-3xl mt-10 px-3">
    <p class="pb-10">
      A Multi Engine Rating is a significant milestone in your aviation journey, opening doors to a broader spectrum of aircraft and career opportunities. This rating endows you with the privilege of acting as pilot in command (PIC) of multi-engine aircraft, an achievement that not only signifies your advanced piloting skills but also enhances your overall standing in the aviation industry.
    </p>
    <p class="pb-10">
      For aspiring airline pilots, the Multi Engine Rating is an essential step towards fulfilling their career ambitions. Airlines value pilots with multi-engine expertise as they demonstrate proficiency in handling complex aircraft and are well versed in high performance, fast, and instrument equipped airplanes. Moreover, obtaining this rating substantially increases your employability and marketability in the competitive aviation job market, making you an attractive candidate for various roles within the industry.
    </p>
    <p class="pb-10">
      Flying multi-engine aircraft is often described as a thrilling experience, taking you beyond the confines of single engine planes into the realm of high performance aviation. Whether you're aiming to advance your career or simply seeking the thrill of flying these advanced aircraft, Sun City is your ideal destination for multi-engine training. Join us and embark on an exciting journey towards becoming a skilled multi-engine pilot.
    </p>
  </div>

  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h3 class="font-semibold text-xl lg:text-3xl text-center">How to Get Your Multi Engine Rating</h3>
  </div>

  <div class="max-w-3xl my-10 bg-neutral-300 border-2 border-black rounded-2xl mx-3 px-3 py-5">
    <div class="flex flex-col lg:flex-row-reverse">
      <div class="lg:w-2/5 flex flex-col items-center">
        <%= image_tag "sun-city-multi-add-on-pass-hands-raised.webp", class: "rounded-xl", alt: "Sun City Aviation Academy student celebrating with her instructor after passing her commercial multi add on rating checkride"%>
        <p class="text-sm italic text-neutral-500 text-center">
          Sun City Aviation Academy student celebrating with her instructor after passing her commercial multi add on rating
        </p>
      </div>
      <p class="py-10 lg:pt-0 lg:w-3/5 lg:pr-10">
        Obtaining your Multi Engine Rating is an exciting step in your aviation journey, expanding your horizons and opening up new possibilities. To embark on this endeavor, you'll need to meet specific eligibility criteria, typically including holding a Private Pilot Certificate and a valid medical certificate. These prerequisites lay the foundation for your multi-engine training adventure, ensuring that you have the fundamental skills and medical clearance required.
        <br><br>
        The process of earning your Multi Engine Rating involves both ground school and flight training. During ground school sessions, you'll study multi-engine aircraft operations, systems, and procedures.
      </p>
      
    </div>
    <p class="">
       These lessons are designed to equip you with the understanding needed to safely and efficiently operate these advanced aircraft. In the air, you'll log a series of flight hours, typically ranging from 10 to 15 hours, where you'll develop hands on experience in multi-engine flight. This practical training is essential to build your proficiency and fulfill the experience requirements. Successful completion of these evaluations culminates in the issuance of your Multi Engine Rating certification.
    </p>
  </div>

  

</section>


<%= render "shared/cta_fly_with_multi"%>
<%= render "shared/cta_book"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
<%# Sticky div %>
</div>