<%# Head / Meta Data %>
<% title("Private Pilot | Sun City Aviation Academy School") %>
<%# meta_description("") %>
<%# meta_keywords("") %>

<%= render "shared/header"%>

Private Pilot Page


<%= render "shared/cta_fly_with"%>
<%= render "shared/cta_book"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>





<%# Sticky div %>
</div>