<%= render "shared/header"%>

<header class="bg-gradient-to-b from-slate-50 to-blue-100">
  <div class="flex flex-col lg:flex-row-reverse lg:items-center">
    <div class="flex flex-col items-center lg:w-1/2">
      <h1 class="font-bold text-5xl pt-10 text-center">Professional Pilot Course</h1>
      <h2 class="font-semibold text-xl italic pt-5 pb-3 px-10 text-center">Comprehensive course to take you from zero to hero</h2>
      <p class= "w-3/4 pb-5">
        Sun City Aviation Academy offers the Professional Pilot Course.  An all in one comprehensive program which includes private pilot, instrument, commercial, and multi-engine training which sets you up to start a career in the aviation industry.
      </p>
      <div class="flex flex-col px-5 gap-3">
        <div class="flex flex-row ">
          <div class="text-custom-50 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 text-left">Professional, safe, friendly instructors</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-custom-50 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 text-left">Aircraft and instructor availability</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-custom-50 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 text-left">Modern and well maintained airplanes</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-custom-50 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 text-left">Individualized and tailored lessons</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-custom-50 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 text-left">FAA approved training center</h3>
        </div>
      </div>
      <%= link_to "SEND US A MESSAGE", contact_path, data: { turbo: false }, class: "btn-primary my-3" %>
    </div>
    <div class="flex flex-col items-center lg:w-1/2">
      <%= image_tag "sun-city-pilot-after-checkride.webp", alt: "Pilot after passing a checkride", class: "lg:w-4/5 lg:rounded-xl"%>
    </div>
  </div>
</header>

<%= render "shared/pilot_programs"%>

<%= render "shared/cta_fly_with_ppc"%>
<%= render "shared/cta_book"%>
<%= render "shared/testimonials"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>


<%# Sticky div %>
</div>