    <!--LOADING FONT DUE TO TEXT-OUTLINE EFFECT-->
    <!--Google Fonts--> 
    <!--**Not sure if this is still needed for font**  <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--async FONTs-->
    <link rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    </noscript>

<%= render "shared/header"%>
<header class="w-full bg-boeing bg-cover h-screen-1/2 lg:h-screen-4/5 bg-center flex justify-center items-center shapedividers-1">
  <div class="flex flex-col w-full">
      <!--Desktop-->
      <h1 class="font-semibold text-[12rem] font-header text-right uppercase outline-letters pr-10 pb-12 hidden lg:block">Become a Pilot?</h1>
      <!--Mobile-->
      <h1 class="font-semibold text-7xl font-header text-right uppercase text-white outline-letters-sm pr-5 lg:hidden">Become a Pilot?</h1>
  </div>
</header>

<section class="flex flex-col items-center py-10 bg-gradient-to-b from-white to-amber-50">
  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h1 class="font-semibold text-xl lg:text-3xl text-center">Should You Become A Pilot?</h1>
  </div>

  <div class="max-w-3xl mt-10 px-3">
    <p class="pb-10">
      Becoming a pilot is a thrilling journey that opens up a world of possibilities and adventure. It's not just a career choice - it's a lifestyle that allows you to explore the skies and experience the freedom of flight. Whether you've always dreamed of soaring through the clouds or are considering a pilot's license for the first time, the decision to become a pilot is a significant one.
    </p>
    <p class="pb-10">
      At Sun City Aviation Academy, we understand the allure of aviation and are here to guide you every step of the way. Our experienced instructors are passionate about sharing their love for flying and will provide you with the knowledge and skills needed to navigate the skies safely. From the thrill of your first solo flight to starting your pilot career, our flight school is your place to a rewarding and fulfilling aviation journey.
    </p>
    <p class="pb-10">
      So, should you become a pilot? It's a question only you can answer. But if you're ready to embrace the challenges, experience the joys, and unlock the skies, we're here to help you take that leap of faith and soar to new heights in the world of aviation.
    </p>
  </div>

  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h2 class="font-semibold text-xl lg:text-3xl text-center">A Promising Career</h2>
  </div>

  <div class="max-w-3xl my-10 bg-neutral-300 border-2 border-black rounded-2xl mx-3 px-3 py-5">
    <div class="flex flex-col lg:flex-row-reverse">
      <div class="lg:w-2/5">
        <%= image_tag "sun-city-inside-airliner.webp", class: "rounded-xl", alt: "Sun City Team and Family Inside an Airliner"%>
      </div>
      <p class="py-10 lg:pt-0 lg:w-3/5 lg:pr-10">
      Embarking on a career as a pilot offers a multitude of compelling reasons to take to the skies. For many, the allure of aviation as a profession lies in the thrill of the job itself. The exhilaration of guiding an aircraft through takeoffs, landings, and flights is unmatched. Every day on the job brings new challenges, from navigating diverse weather conditions to ensuring passenger safety and comfort. The constant learning and skill development inherent in piloting makes it an exciting career choice.
      </p>
    </div>
    <p class="pb-10">
      At Sun City Aviation Academy, we understand the allure of aviation and are here to guide you every step of the way. Our experienced instructors are passionate about sharing their love for flying and will provide you with the knowledge and skills needed to navigate the skies safely. From the excitement of your first solo flight all the way to starting your pilot career, our flight school is your place for a rewarding and fulfilling aviation journey.
    </p>
    <p class="">
      So, should you become a pilot? It's a question only you can answer. But if you're ready to embrace the challenges, experience the joys, and unlock the skies, we're here to help you take that leap of faith and soar to new heights in the world of aviation.
    </p>
  </div>

  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h2 class="font-semibold text-xl lg:text-3xl text-center">Do It For Fun</h2>
  </div>

  <div class="max-w-3xl my-10 bg-neutral-300 border-2 border-black rounded-2xl mx-3 px-3 py-5">
    <div class="flex flex-col lg:flex-row lg:items-center">
      <div class="lg:w-2/5">
        <video controls width="100%" class="h-screen-3/4" poster="<%= image_url 'sun-city-video-poster-night-flight.webp'%>">
          <source src="https://scontent-lax3-1.cdninstagram.com/o1/v/t16/f1/m82/AB49CF794ADBC4163C7B0616B4C35BA3_video_dashinit.mp4?efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uY2xpcHMuYzIuNzIwLmJhc2VsaW5lIn0&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=110&vs=721899572775277_4214857311&_nc_vs=HBksFQIYT2lnX3hwdl9yZWVsc19wZXJtYW5lbnRfcHJvZC9BQjQ5Q0Y3OTRBREJDNDE2M0M3QjA2MTZCNEMzNUJBM192aWRlb19kYXNoaW5pdC5tcDQVAALIAQAVABgkR0ltY2loTmxkWUNvNTlJRkFOVmZNVW5WdkVkZmJxX0VBQUFGFQICyAEAKAAYABsAFQAAJsT5yfvR3Pg%2FFQIoAkMzLBdANm7ZFocrAhgSZGFzaF9iYXNlbGluZV8xX3YxEQB1%2FgcA&ccb=9-4&oh=00_AfANaj-4B69RTInmYikCqCzBzXavzQMqfZDczjqVtK69Qw&oe=651074F5&_nc_sid=b41fef"
                  type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="lg:w-3/5 lg:pl-5">
        <p class="py-10 lg:pt-0">
          Passion, adventure, and a sense of fun are what drive individuals to become pilots. For many, the love for aviation starts early, whether it's watching planes take off with wonder or building model aircraft. This lifelong passion propels aspiring pilots to pursue their dreams of soaring among the clouds.
        </p>
        <p class="pb-10">
          The adventure in a pilot's life is unparalleled, with every flight offering new journeys, remote destinations, and stunning aerial vistas. From the cockpit, pilots witness breathtaking sunrises, vibrant sunsets, and hidden gems from a unique perspective.
        </p>
        <p class="">
          Above all, aviation is where fun and exhilaration are part of the job description. Pilots have the privilege of doing what they love every day, translating their passion into joy and fulfillment. Whether it's the thrill of takeoff, mastering maneuvers, or safely landing an aircraft, the sense of fun in aviation is contagious. Pilots are adventurers living their dreams.
        </p>
      </div>
    </div>
  </div>

  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full">
    <h2 class="font-semibold text-xl lg:text-3xl text-center">A Sense Of Accomplishment</h2>
  </div>

  <div class="max-w-3xl my-10 bg-neutral-300 border-2 border-black rounded-2xl mx-3 px-3 py-5 flex flex-col items-center">
    <%= image_tag "sun-city-collage-students-after-checkride.webp", class: "lg:w-4/5 rounded-xl pb-5", alt: "Student Pilots at Sun City After Passing a Checkride"%>
    <p class="pb-10">
      Becoming a pilot is a journey of profound personal growth and an unparalleled sense of accomplishment. It's not just about mastering the controls of an aircraft. It's about conquering one's limits and continually pushing boundaries. The process of earning pilot certifications demands dedication, discipline, and determination. As students progress from their first solo flight to obtaining advanced ratings, each achievement becomes a testament to their commitment and perseverance.
    </p>
    <p class="pb-10">
      The challenges that aspiring pilots face are both mental and physical. Learning to navigate the complexities of aviation, mastering intricate flight maneuvers, and understanding weather and navigation are intellectual feats. Additionally, mastering the art of controlling an aircraft, managing different flight phases, and responding to unexpected situations is a physical and mental challenge. Overcoming these hurdles instills confidence and resilience, which extend far beyond the cockpit.
    </p>
    <p class="">
      The sense of accomplishment in aviation is not limited to the acquisition of certificates. It extends to the personal growth and transformation that occurs along the way. Pilots emerge from their training as individuals who are not only skilled aviators but also more confident and adaptable. They carry with them the knowledge that they have faced and surmounted challenges that few will ever experience. This sense of accomplishment and personal growth is what makes aviation a profoundly rewarding journey.
    </p>
  </div>

</section>

<section class="bg-gradient-to-t lg:bg-gradient-to-l from-neutral-700 to-neutral-900 text-white">
    <div class="flex flex-col lg:flex-row-reverse lg:items-center pt-10 lg:py-10">
      <!--Text Section-->
      <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
        <p class="text-2xl lg:text-4xl text-center font-semibold">Are You Up For The Challenge?</p>
        <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
        Becoming a pilot is a journey that will test your limits and push you beyond your comfort zone. It's a path filled with exhilarating highs and moments of deep learning. Are you ready to embark on an adventure that will challenge you both mentally and physically, all while offering the thrill of a lifetime? Whether you're taking your first steps in aviation or looking to advance your skills, the challenge of flight awaits.
        </p>
        <p class="w-5/6 lg:w-4/5 pt-5 text-left lg:text-left text-lg lg:text-base p-text">
        Ready to see if you've got what it takes? Take our quick aviation quiz to discover if your passion aligns with your potential. It's a fun and insightful way to gauge your readiness for the world of aviation. And if you're eager to dive right in, don't hesitate to reach out to us. Our team is here to guide you through this exhilarating journey, answering your questions and helping you take those first steps toward the skies. So, are you up for the challenge? Let's find out together!
        </p>
        <div class="flex flex-col lg:flex-row gap-5 my-10">
          <%= link_to "TAKE THE QUIZ", quiz_path, target: "blank", data: { turbo: false }, class: "btn-primary" %>
          <%= link_to "CONTACT US", contact_path, data: { turbo: false }, class: "btn-secondary" %>
        </div>
      </div>
      <!--image section-->
      <div class="lg:w-1/2 lg:mx-10">
        <div class="grid place-items-center">
          <%= image_tag "sun-city-checkride-selfie.webp", class: "lg:m-5 lg:rounded-2xl lg:w-4/5 w-full", alt: "Students, examiner, and CFI after a checkride taking a selfie at Sun City Aviation Academy"%>
        </div>
      </div>
    </div>
  </section>

<%= render "shared/footer"%>