<%# Head / Meta Data %>
<% title("Youth Aviation Group Classes | Sun City Aviation Academy") %>
<%# meta_description("") %>
<%# meta_keywords("") %>

<%= render "shared/header"%>

<header class="w-full bg-youth-ground bg-cover h-screen-3/4 lg:h-screen-4/5 bg-bottom flex justify-center items-center text-white">
  <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center w-full">
    <h1 class="font-bold text-4xl lg:text-5xl text-center">Youth Aviation Classes</h1>
    <h2 class="font-bold text-3xl lg:text-4xl text-center py-10">Programs for children and teenagers to learn aviation</h2>
    <button class="btn-primary" @click="showEnrollment = true">START TODAY</button>
  </div>
</header>

<section class="flex flex-col items-center py-10 bg-gradient-to-b from-white to-amber-50">
  <div class="max-w-3xl bg-black text-white lg:w-full px-10 py-2 rounded-full mx-5">
    <h3 class="font-semibold text-xl lg:text-3xl text-center">Training Future Pilots</h3>
  </div>

  <div class="max-w-3xl mt-10 px-3">
    <p class="pb-10">
      The Youth Aviation Class at Sun City Aviation Academy is a class for children and teenagers to get introduced into aviation.  The Youth Aviation Class at Sun City Aviation Academy is the perfect entry point specifically designed to introduce young minds to the wonders of flight, providing them with the opportunity to explore the fundamentals of aviation in a fun and interactive way. Aspiring aviators will learn about aircraft, aerodynamics, and the science behind flying, all while being guided by our experienced instructors who are dedicated to igniting a lifelong passion for aviation.
    </p>
    <p class="pb-10">
      Joining the Youth Aviation Class at Sun City Aviation Academy sets your children up for success. Our comprehensive program provides them with the essential ground training and knowledge needed for a strong start in aviation. This foundation equips them with valuable information that can be applied if they choose to pursue their dream of becoming a pilot. With the opportunity to solo at the age of 16 and achieve their private pilot certificate by the time they're 17, our Youth Aviation Class not only sparks their interest in aviation but also sets them on a path towards future success in the skies.
    </p>
  </div>  

  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
    class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
    x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
    />
    <p class="text-xl max-w-xl text-center">
      Your children can be the part of the future generation of skilled pilots and aviators.  The Youth Aviation Class at Sun City Aviation Academy provides a fun environment for learning how to fly.
    </p>
    <hr
      class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
      x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
  </div>

</section>


<section class="w-full bg-neutral-800 flex justify-center items-center lg:py-10 py-0">
  <div class="bg-cloud3 bg-cover bg-bottom h-screen-3/4 max-w-3xl px-5 lg:rounded-2xl lg:border-2 lg:border-black pb-5 text-white">
    <div class="flex flex-col justify-end h-full items-center drop-shadow-2xl transform-gpu" x-data>
      <h2 class="w-4/5 font-bold text-xl lg:text-3xl">Ready To Learn About <span class="text-custom-50">Aviation</span>?</h2>
      <p class="w-4/5 py-5 text-lg lg:text-xl font-semibold">At Sun City Aviation Academy, we are dedicated to training future pilots to be capable, adaptable, proficient, and safe.</p>
      <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
        <button class="btn-primary mx-auto" @click="showEnrollment = true">START TODAY</button>
      </div>
    </div>
  </div>
</section>


<%= render "shared/testimonials"%>
<%= render "shared/cta_book"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>





<%# Sticky div %>
</div>