<%# Head / Meta Data %>
<% title("Youth Programs and Aviation 101 at Sun City") %>
<% meta_description("Sun City Aviation Academy in KHWO North Perry Airport in South Florida offers youth programs and Aviation 101 experiences. Explore aviation at our local airport with engaging activities for young aviation enthusiasts.") %>
<% meta_keywords("KHWO, North Perry Airport, South Florida, youth programs, AeroCamp, aviation education, aviation experiences, young aviators, aviation enthusiasts, local airport activities, aviation for kids, AeroCamp South Florida") %>

<%= render "shared/header"%>

<header class="w-full bg-center flex justify-center items-center">
  <div class="flex flex-col-reverse lg:flex-row w-full">
    <div class="lg:w-3/4">
      <%= image_tag "sun-city-aero-camp-group.webp", class:"object-cover min-h-full object-right", alt: "Sun City Aero Camp In Front of Sea Plane"%>
    </div>
    <div class="lg:w-1/4">
      <div
        class="flex flex-col items-center justify-center h-full" x-data="">
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 lg:mt-0 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
          x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
        />
        <h2 class="text-3xl xl:text-4xl font-bold text-center pb-10">Aviation Programs For <span class="text-custom-50">Young</span> Pilots</h2>
        <p class="px-5 xl:px-12 text-center">
          We're dedicated to creating the next generation of pilots.  Our youth programs are geared to expose young aspiring aviators to the world of aviation and flying.
        </p>
        <div class="relative flex mt-5">
          <span class="animate-ping-1 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-2 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <span class="animate-ping-3 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0 overflow-hidden"></span>
          <button class="btn-primary" @click="showEnrollment = true">START TODAY</button>
        </div>
        
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
          x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
        />
      </div>
    </div>
  </div>
</header>

<section class="bg-gradient-to-b from-neutral-800 to-black">

<div class="flex flex-col lg:flex-row w-full gap-10 py-10 lg:py-20 px-5 lg:px-10">
  <%= link_to aerocamp_path, class: "" do%>
    <div class="flex flex-col w-full items-center lg:w-1/2 bg-gradient-to-r from-slate-50 to-slate-200 pb-5 rounded-2xl">
      <%#= image_tag "sun-city-aero-camp-preflight.webp", alt: "", class: "rounded-t-xl"%>
      <%= image_tag "sun-city-aero-camp-group-line.webp", alt: "Highschool Students leaving to go pre-flight a plane", class: "rounded-t-xl"%>
      <div class="flex flex-col items-center">
        <h2 class="font-bold text-4xl py-10">Youth Aviation Program</h2>
        <hr class="bg-custom-50 h-1 w-3/4 mb-10"/>
      </div>
      <div class="px-5 lg:px-20">
        Our Youth Aviation Program is a week long program where high school students get the fantastic opportunity to learn about aviation and aerospace.  At the end of the camp, you'll get the chance to fly an airplane and visit the air traffic control tower.
      </div>
      <%= link_to "Youth Aviation Program", experience_aviation_path, class: "btn-primary mt-5 "%>
    </div>
  <%end%>
  <%= link_to youth_ground_path, class: "" do%>
    <div class="flex flex-col items-center lg:w-1/2 bg-gradient-to-r from-slate-50 to-slate-200 pb-5 rounded-2xl">
      <%= image_tag "sun-city-youth-group-class.webp", alt: "", class: "rounded-t-xl"%>
      <div class="flex flex-col items-center">
        <h2 class="font-bold text-4xl py-10">Aviation 101</h2>
        <hr class="bg-custom-50 h-1 w-3/4 mb-10"/>
      </div>
      <div class="px-5 lg:px-20">
        Aviation 101, is our foundational aviation course for high school students.  Topics include aerodynamics, navigation, weather, regulations, and aircraft systems.  When our students turn 16 they'll be able to fly solo and by 17, they'll be able to become certificated pilots.
      </div>
      <%= link_to "Youth Aviation Class", youth_ground_path, class: "btn-primary mt-5 "%>
    </div>
  <% end %>
</div>

</section>


<%= render "shared/footer"%>


<%# Sticky div %>
</div>