<%# Head / Meta Data %>
<% title("Youth Programs and AeroCamp at Sun City") %>
<% meta_description("Sun City Aviation Academy in KHWO North Perry Airport in South Florida offers youth programs and AeroCamp experiences. Explore aviation at our local airport with engaging activities for young aviation enthusiasts.") %>
<% meta_keywords("KHWO, North Perry Airport, South Florida, youth programs, AeroCamp, aviation education, aviation experiences, young aviators, aviation enthusiasts, local airport activities, aviation for kids, AeroCamp South Florida") %>

<%= render "shared/header"%>


<section class="bg-gradient-to-b from-neutral-800 to-neutral-900 text-white">
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col items-center lg:w-1/2">
      <h1 class="text-xl lg:text-2xl pt-20 text-center">Introducing our <span class="text-custom-50">Aviation 101</span> Program</h1>
      <h3 class="font-bold text-2xl pt-5 text-center">Aviation Program for High School Students</h3>
      <h2 class="font-semibold text-lg italic pt-5 pb-10 text-center">Inspiring a new generation of aviators.  <br class="hidden lg:block">Experience the joy of flight first hand.</h2>
      <p class="w-3/4 pb-20">
      The Experience Aviation High School Program offers an exciting opportunity for high school students to do a deep dive into the world of aviation. Over three action packed days, participants will immerse themselves in the fundamentals of flight, learning about aerodynamics, radio communications, weather patterns, and more. Led by experienced instructors, students will engage in hands on activities such as preflight inspections, interactive games, and simulator sessions. They'll also go on <span class="text-custom-50 font-bold underline">guided tours</span> of the Air Traffic Control Tower and/or Fire Station. Experience and learn how to fly in the flight simulator and at the end of the course, fly an <span class="text-custom-50 font-bold underline">actual plane</span>. With interactive activities designed to enhance understanding and foster teamwork, this program is the perfect starting point for aspiring aviators.
      </p>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-1/2">
      <%= image_tag "sun-city-camper-climbing-plane.webp", alt: "Sun City Experience Aviation students pre-flighting cessna 172 and checking fuel in Hollywood, FL North Perry Airport", class: "lg:w-3/4 lg:rounded-xl"%>
    </div>
  </div>
</section>

<section class="flex flex-col items-center lg:py-10 bg-gradient-to-b from-neutral-200 to-yellow-100">
  <div class="flex flex-col items-center w-full max-w-4xl bg-black text-white lg:rounded-2xl" x-data="">
    <hr
  class="bg-custom-50 pt-1 border-0 w-3/4 mt-6 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
  x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
  />
  <p class="text-base lg:text-xl max-w-2xl text-center mx-5">
  The Experience Aviation High School Program at Sun City Aviation Academy offers high school students a unique opportunity to explore the amazing world of aviation and aerospace at North Perry Airport. Our certified instructors and team guide program attendees through a week of exciting experiences, including the chance to sit in the front of a plane and go flying. Discover the wonders of aviation during this unforgettable adventure.
  </p>
  <hr
    class="bg-custom-50 h-1 w-3/4 mt-10 border-0 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
    x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
    />
    
  </div>
</section>

<section class="bg-gradient-to-b from-white-800 to-yellow-100 lg:py-10 pt-10 pb-0">
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="flex flex-col items-center lg:w-1/2 pb-10 lg:pb-0">
      <h2 class="font-bold text-xl px-5 lg:text-3xl pt-5 text-center">Upcoming <span class="text-custom-50">Experience Aviation</span> Dates</h2>
      <p class="w-3/4 pb-10 lg:pb-20">
        <div class="flex flex-col px-5 gap-3 text-base">
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">March 28, 2024 - March 30, 2024 <br class="lg:hidden">(ages 14-18)</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">June 19, 2024 - June 22, 2024 (ages 14-18)</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-custom-50 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">August 1, 2024 - August 3, 2024 (ages 14-18)</h3>
          </div>
        </div>
      </p>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-1/2">
      <%= image_tag "sun-city-youth-program-looking-at-pilot-map-opa-locka.webp", alt: "Sun City Experience Aviation attendees looking at sectional chart (pilot map)", class: "lg:w-3/4 lg:rounded-xl"%>
      <p class="text-neutral-500 italic text-sm text-center px-10">
        Sun City Experience Aviation attendees learning about sectional charts (pilot map)
      </p>
    </div>
  </div>
</section>

<section class="flex flex-col items-center bg-gradient-to-b from-neutral-700 to-neutral-900 lg:py-10" id="aviation_form">
  
  <div class="max-w-4xl mx-auto lg:rounded-2xl lg:border-2 lg:border-custom-50 bg-white py-5">
  
    <div class="px-5">
      <%= turbo_frame_tag 'form-section', class: "h-full" do %>
        <%= render "form", aviation: @aviation %>  
      <% end %>
    </div>
  </div>
</section>


<%= render "shared/footer"%>


<%# Sticky div %>
</div>

<script>
function scrollToElement(elementId, offset) {
  event.preventDefault();
  var element = document.getElementById(elementId);
  var elementPosition = element.getBoundingClientRect().top + window.scrollY;
  window.scrollTo({
      top: elementPosition - offset,
      behavior: 'smooth'
  });
}
</script>