<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com -->

    <!--Title-->
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Sun City Aviation Academy | Miami South Florida Flight Training
      <% end %>
    </title>

    <!--Favicon--> 
    <%#= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <%# %w(57 72 76 114 120 144 152 180).each do |size| %>
      <%#= favicon_link_tag "favicon/apple-touch-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}" %>
    <%# end %>
  
  
    <!--Meta Tags-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="<%= if content_for?(:title) then yield(:title) else 'Sun City Aviation Academy | Miami South Florida Flight Training' end %>">
    <meta name="description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Sun City Aviation Academy, located at KHWO - North Perry Airport in Hollywood, Florida, is your gateway to flight training excellence in the vibrant Miami-Fort Lauderdale metropolitan area. Our flight school serves aspiring pilots from Hollywood, Fort Lauderdale, Miami, and neighboring communities across Broward County. With our team of experienced instructors and a comprehensive range of aviation programs, we\'re committed to helping you achieve your aviation dreams right here in the heart of South Florida. Join us at Sun City Aviation Academy and embark on your journey to becoming a skilled pilot in one of the nation\'s most exciting aviation hubs.' end %>">
    <meta name="keywords" content="<%= if content_for?(:meta_keywords) then yield(:meta_keywords) else 'pilot training, aviation academy, flight school, aviation education, flight instructors, flight simulator, aviation career, South Florida, Hollywood, Florida, Fort Lauderdale, Miami, Broward County, KHWO, North Perry Airport, instrument flying, private pilot, commercial pilot, flight training programs, pilot certificates, aircraft fleet, seaplane training, aviation courses, CFI training, aviation community, pilot career, aircraft maintenance, FAA-approved training, right rudder marketing, tim jedrek' end %>">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Right Rudder Marketing">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= if content_for?(:title) then yield(:title) else 'Sun City Aviation Academy | Miami South Florida Flight Training' end %>">
    <meta property="og:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Sun City Aviation Academy, located at KHWO - North Perry Airport in Hollywood, Florida, is your gateway to flight training excellence in the vibrant Miami-Fort Lauderdale metropolitan area. Our flight school serves aspiring pilots from Hollywood, Fort Lauderdale, Miami, and neighboring communities across Broward County. With our team of experienced instructors and a comprehensive range of aviation programs, we\'re committed to helping you achieve your aviation dreams right here in the heart of South Florida. Join us at Sun City Aviation Academy and embark on your journey to becoming a skilled pilot in one of the nation\'s most exciting aviation hubs.' end %>">
    <meta property="og:image" content="<%#= if content_for?(:og_image) then yield(:og_image) else image_url('/simplifly_padded.webp') end %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= if content_for?(:title) then yield(:title) else "Sun City Aviation Academy | Miami South Florida Flight Training" end %>">
    <meta property="twitter:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Sun City Aviation Academy, located at KHWO - North Perry Airport in Hollywood, Florida, is your gateway to flight training excellence in the vibrant Miami-Fort Lauderdale metropolitan area. Our flight school serves aspiring pilots from Hollywood, Fort Lauderdale, Miami, and neighboring communities across Broward County. With our team of experienced instructors and a comprehensive range of aviation programs, we\'re committed to helping you achieve your aviation dreams right here in the heart of South Florida. Join us at Sun City Aviation Academy and embark on your journey to becoming a skilled pilot in one of the nation\'s most exciting aviation hubs.' end %>">
    <meta property="twitter:image" content="<%#= if content_for?(:twitter_image) then yield(:twitter_image) else image_url('/simplifly_padded.webp') end %>">

    <!--CSS-->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--Google Fonts-->
    <!--**Not sure if this is still needed for font**  <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->

    <!--async FONTs-->
    <!--<link rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">-->
    <!--<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">-->
    <!-- no-JS fallback -->
    <!--<noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    </noscript>-->

    <!--JS-->
    <%= javascript_importmap_tags %>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--For Alpine Intersect-->
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>
  
  <body>
    <main class="" x-data="{ 'showEnrollment': false }" @keydown.escape="showEnrollment = false">
    <% if admin_signed_in? %>
      <!--USER MENU-->
      <%= render "shared/admin_menu" %>
    <% end %>
      <%= yield %>
      <!-- Modal -->
      <div
        class="fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
        x-show="showEnrollment"
        x-cloak
      >
        <!-- Modal inner -->
        <div
            class="max-w-3xl px-6 py-4 mx-auto text-left bg-white rounded shadow-lg z-[1000]"
            @click.away="showEnrollment = false"
            x-transition:enter="motion-safe:ease-out duration-300"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100"
        >
          <!-- Title / Close-->
          <div class="flex items-center justify-between pb-5">
            <h4 class="mr-3 text-black max-w-none"></h4>
            <button type="button" class="z-50 cursor-pointer" @click="showEnrollment = false">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <!-- content -->
          <div class="">
            <%= turbo_frame_tag "frame5", class: "w-full" do %>
              <%= render "enrollments/form",  enrollment: @enrollment %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    </main>
    
    <script type="text/javascript" src="//cdn.callrail.com/companies/988346519/be2e86d8c643bb8a5fc9/12/swap.js"></script> 

    <%# GOOGLE TAG ONLY SHOW DURING PRODUCTION ENVIRONMENT%>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BDBJ1NG5QS"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BDBJ1NG5QS');
      </script>
    <%end%>

  </body>
</html>
